// Navigation Styles here
.navigation {
  width: 100%;    border-bottom: @bordered;
}

.navbar {
    .displayFlex(space-between, center);
    max-width: 800px;
    margin: auto;
    padding: 20px 0;
}


  nav {
    margin-left: 62px;
    display: flex;
  }

  .first-anchor {
    margin-left: 0;
  }

  a {
    margin-left: 20px;
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
    align-items: auto;
  }







