// Navigation Styles here
  .navbar {
    display: flex;
    max-width: 800px;
    margin: auto;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
   }

  nav {
    margin-left: 62px;
    display: flex;
  }

  .first-anchor {
    margin-left: 0;
  }

  a {
    margin-left: 20px;
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
    align-items: auto;
  }







